/bin/
/Build/
/Configuration/*
!/Configuration/*.yaml
/Data/
/Packages/*
!/Packages/Sites/
!/Packages/Application/
/Packages/Application/*
!/Packages/Application/PrettyGreenPlants.Shop/
/Readme.rst
/Upgrading.rst
/Web/
/flow
/flow.bat
