/ansible/ansible.log
/bin/*
!/bin/check_setup.sh
!/bin/cleanup.sh
!/bin/integrate.sh
!/bin/syncontent
/Build/
/Configuration/*
!/Configuration/Routes.yaml
!/Configuration/Settings.yaml
/Data/
/Packages/*
!/Packages/Sites/
/Readme.rst
/Upgrading.rst
/Web/
/flow
/flow.bat
