/ansible/ansible.log
/bin/*
!/bin/check_setup.sh
!/bin/release.sh
!/bin/syncontent
/Build/
/Configuration/*
!/Configuration/Routes.yaml
!/Configuration/Settings.yaml
!/Configuration/Development/
/Configuration/Development/*
!/Configuration/Development/Settings.yaml
!/Configuration/Development/Caches.yaml
!/Configuration/Production/
/Configuration/Production/*
!/Configuration/Production/Settings.yaml
!/Configuration/Production/Caches.yaml
/Data/
/Packages/*
!/Packages/Sites/
/Readme.rst
/Upgrading.rst
/Web/
/flow
/flow.bat
