#
# {{ ansible_managed }}
#

Sokly:
  PrettyGreenPlants:
    toggleBeta: false

Neos:
  Flow:
    http:
      trustedProxies:
{% if trusted_proxies == "*" %}
        proxies: '*'
{% else %}
        proxies:
{% for proxy in trusted_proxies %}
          - '{{ proxy }}'
{% endfor %}
        headers:
          clientIp: 'X-Forwarded-For'
          host: 'X-Forwarded-Host'
          port: 'X-Forwarded-Port'
          proto: 'X-Forwarded-Proto'
{% endif %}
    persistence:
      backendOptions:
        host: '{{ mysql_db_host }}'
        user: '{{ mysql_db_user }}'
        password: '{{ mysql_db_password }}'
        dbname: '{{ mysql_db_name }}'

{% if project_context == "Production" %}
  GoogleAnalytics:
    authentication:
      applicationName: '{{ google_analytic_app_name }}'
      clientId: '{{ google_analytic_client_id }}'
      clientSecret: '{{ google_analytic_client_secret }}'
      developerKey: '{{ google_analytic_api_key }}'
    sites:
      prettygreenplants:
        trackingId: '{{ google_analytic_tracking_id }}'
        profileId: '{{ google_analytic_profile_id }}'
{% endif %}
