#
# {{ ansible_managed }}
#

Neos:
  Flow:
    persistence:
      backendOptions:
        host: 'db'
        user: 'prettygreenplants'
        password: 'prettygreenplants'
        dbname: 'prettygreenplants'
{% if aws_cloud and 'live' in group_names %}

  GoogleAnalytics:
    authentication:
      applicationName: 'Pretty Green Plants'
      clientId: '880718627449-r7tnjjffsm6q8dc1lt9ivgkq5mj5n49p.apps.googleusercontent.com'
      clientSecret: '-bA9nNYMXFnTBoljanY74DvX'
      developerKey: 'AIzaSyBs9lJ-6gY15sJdN7-t791rjZ5GX0R0R7M'
    sites:
      prettygreenplants:
        trackingId: 'UA-42523446-2'
        profileId: '127214097'
{% endif %}
