#!/bin/bash

#
# {{ ansible_managed }}
#

BACKUP_PATH="/var/www/backup/{{ project_name }}"
LAST_BACKUPS=`find ${BACKUP_PATH}/ -mindepth 1 -maxdepth 1 -type d -ctime -7 | wc -l`

if [[ "${LAST_BACKUPS}" -gt 5 && "${LAST_BACKUPS}" -lt 8 ]]; then
        find ${BACKUP_PATH}/ -mindepth 1 -maxdepth 1 -type d -ctime +30 | xargs rm -rf
fi
