#
# {{ ansible_managed }}
#
# Default server configuration for letsencrypt
#
server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name prettygreenplants.com www.prettygreenplants.com;

	location ^~ /.well-known/acme-challenge/ {
		default_type "text/plain";
		root {{ letsencrypt_dir }}/{{ project_name }};
	}
}
