#!/bin/bash

#
# {{ ansible_managed }}
#

FILENAME=$(date '+%Y-%m-%d')
BACKUP_SOURCE="{{ app_root }}/neos/Data"
BACKUP_DEST="{{ backup_path }}/files"

cd ${BACKUP_SOURCE} && /bin/tar -jcf ${BACKUP_DEST}/${FILENAME}.tar.bz2 Persistent/ Logs/
